@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.quantity-btn:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(13%) saturate(6239%)
        hue-rotate(345deg) brightness(109%) contrast(110%);
}

.remove-cart-item-btn img {
    filter: brightness(0) saturate(100%) invert(66%) sepia(8%) saturate(1034%)
        hue-rotate(319deg) brightness(87%) contrast(82%);
}

.remove-cart-item-btn:hover img {
    filter: brightness(0) saturate(100%) invert(8%) sepia(26%) saturate(1498%)
        hue-rotate(329deg) brightness(92%) contrast(100%);
}

.arrow-down-icon {
    filter: brightness(0) saturate(100%) invert(38%) sepia(19%) saturate(703%)
        hue-rotate(328deg) brightness(102%) contrast(84%);
}

.order-confirmation-modal {
    animation: fade-slide-in-from-bottom 0.5s ease-in-out;
}

@keyframes fade-slide-in-from-bottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0px);
    }
}

.fade-out-effect {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}
